<div class="container-fluid">
    <h1>Ordinateurs Portables</h1>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-repeat="computer in computers">
            <div>
                <h2 class="article_title"><em>{{computer.nom}}</em></h2> 
                <img class="article_image img-responsive" src="{{computer.image}}" alt="Image de l'ordinateur"/>
                <p class="article_description"><strong>Description: </strong>{{computer.descriptif}}</p>
                <p class="price"><strong>Prix: </strong>{{computer.prix| currency:'€'}} <button class="shoppingCart" ng-init="count = 0" ng-click="addCart(); count = count + 1;" ng-disabled="count > 0;"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Ajouter au panier</button></p>
            </div>
        </div>
    </div>
</div>