<div class="container-fluid">
    <h1>Tablettes</h1>
    <div class="row">
        <div ng-repeat="data in tabs" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div>
                <h2 class="article_title">{{data.nom}}</h2>
                <img class="article_image img-responsive" src="{{data.image}}" alt="Image de la tablette"/>
                <p class="article_description"><strong>Description: </strong>{{data.description}}</p>
                <p><strong>Prix: </strong>{{data.prix| currency: '€'}} <a href=""><i class="fa fa-cart-plus buy_icon" aria-hidden="true" ng-click="addCart()"></i></a></p>
            </div>
        </div>
    </div>
</div>