<div class="container-fluid">
    <h1>Montres Connectées</h1>
    <div class="row">
        <div ng-repeat="watch in watchs" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div>
                <h2 class="article_title"><em>{{watch.nom}}</em></h2>
                <img class="article_image img-responsive" src="{{watch.image}}" alt="Image de la montre"/>
                <p class="article_description"><strong>Description: </strong>{{watch.descriptif}}</p>
                <p class="price"><strong>Prix: </strong>{{watch.prix |currency:'€'}} <button class="shoppingCart" ng-init="count = 0" ng-click="addCart(); count = count + 1;" ng-disabled="count > 0;"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Ajouter au panier</button></p>
            </div>
        </div>
    </div>
</div>