
a {
    outline-style: none;
}

body{
    background-image: url(../img/design.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Comfortaa', cursive;

}

.article_title{
    font-size: 30px;
    color: #122b40;

}

.article_image{
    height: 300px;
    margin-bottom: 50px;
    padding-left: 10%;
}

.article_description{
    height: 200px;
    word-wrap: break-word;
    overflow: auto;
}

.price{
    font-size: 20px;
    text-align: left;
    color: darkgreen;
    margin-bottom: 80px;
}

.shoppingCart{
    color: #4169E1;
    margin-left: 200px;
}

h1{
    font-family:'Permanent Marker', cursive;
    font-size:8vw;
    color: #4169E1 ;
    margin-bottom: 35px;
    text-align: center;
    background-color: rgba(51,204,0, 0.5);
    border-radius: 30px;
    box-shadow: 6px 6px 50px black;
}

/* Début du style du header et footer */
/* Contenu du modal */
.modal-content {
    background-color: #A7C6E0; 
    box-shadow: 6px 6px 50px black;   
}
.modal-title{
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    color: #4169E1;
}
.buttonPanel- {
    color: #6584E5;
}

.ion-ios-cart{
    color: #6584E5;
}
.buttonClose{
    background-color: rgba(51,204,0, 0.5);
    font-family:'Permanent Marker', cursive;
    color: #4169E1;
    font-size: 20px;
    border-radius: 30px;
}

li{
    list-style: none;
}
footer{
    margin-top: 50px;
    margin-right: 0;
    margin-left: 0;
}
footer .navbar-inverse{
    opacity: 0.8;
    margin-top: 50px;
    height: 30px;
    padding: 5px;
    margin-right: 0;
    padding: 0;
    width: 100%;
}
footer .navbar-inverse a{
    color: white;
}
footer .navbar-inverse a:hover{
    text-decoration: none;
    text-transform: fullwidth;
}

footer ul {
    font-size: 15px;
    padding: 0px;
    text-align: center;
}

@media (min-width:768px) {
    .navbar li {
        margin-left: 0;
        padding-left: 10px;
        font-size: 15px;
    }
    .navbar a{
        font-size: 20px;
        color: #4169E1;
    }
    .navbar a:hover{
        text-transform: fullwidth;
        text-shadow: 2px 1px 2px white;
        text-decoration: none;
    }
    .navbar{
        /*height: 200px;*/
        background-color: lightblue;
        border-radius: 20px;
        box-shadow: 6px 6px 6px #4169E1;
        margin: 10px;
        text-align: center;
        z-index: 2;
        opacity: 0.8;
        outline: none;
    }
    .brand a{
        font-size: 30px;
        color: darkgrey;
        margin-top: 10px;
        padding-top: 0;
        outline: none;
        text-decoration: none;
    }
    #theName{
        font-size: 45px;
        font-family:'Permanent Marker', cursive;
        color: #4169E1 ;
        margin-right: 3px;
    }
    .world{
        color: red;
        font-size: 3px;
        padding: 0;
        margin: 0;
    }
    .head_menu{
        margin: 0;
        padding: 0;
    }
    .col-world{

        padding: 0;
    }
    .test_world{
        margin: 0;
        padding: 0;
    }
    .slogan{
        color: #4169E1;
        font-size: 25px;

    }

}

@media (max-width:1200px) {
    #theName {
        font-size: 30px;
    }
}

@media (max-width:767px) {
    .world{
        color: red;
        font-size: 2px;
        padding: 0;
        display: block;
    }
    .test_world{
        margin-left: 20px;
        height: 100px;
        overflow: hidden;
    }
    #theName{
        font-size: 3vw;
        font-family:'Permanent Marker', cursive;
        color: #4169E1 ;
    }
    .col-world{
        margin-top: 50px;
    }
    .navbar-fixed-top a{
        color: white;
    }
    .navbar-fixed-top{
        text-align: left;
        background-color: black;
        opacity: 0.7;
    }
    .brand a{
        font-size: 30px;
        text-align: center;
    }
    .slogan{
        font-size: 10px;
    }
    footer ul {
    font-size: 10px;
    }
}
@media (max-width:499px){
    footer ul {
    font-size: 8px;
    }
    #aboutUs {
        padding-left: 0px;
    }
}

textarea{
    resize: none;
}
.contact_content{
    margin-bottom: 10px;
}
.modal_row{
    margin: 0;
    padding: 0;
}
